.portofolio__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.3rem;
}

.portofolio__item {
  background:  var(--color-bg-variant);
  padding: 1.3rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
}

.portofolio__item:hover{
  border-color: var(--color-primary-variant);
  background: transparent;
}

.portofolio__item-image {
  overflow: hidden;
}

.portofolio__item h3 {
  margin: 1.2rem 0 2rem;
}

.portofolio__item-cta {
  display: flex;
  gap: 1.2rem;
  bottom: 0;
}

.portofolio__item img {
  width: 100%;
  border-radius: 1rem;
}

@media screen and (max-width: 1024px) {
  .portofolio__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .portofolio__container {
    grid-template-columns: 1fr;
  }
}
